<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <style>

  body {
      padding: 20px;
  }

  h1 {font-size: 100px;background-color: yellow; color:black}
  </style>
</head>
<body>
  
  <h1>./contact</h1>
  <ul>
    <li>Sinatra</li>
    <li>Ruby on Rails</li>
  </ul>

  
</body>
</html>