<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <style>

  body {
      padding: 20px;
  }

  h1 {font-size: 100px;background-color: yellow; color:black}
  p {font-size: 79px}
  </style>
</head>
<body>
  
  <h1>./Euclid's algorithm</h1>
  <p> GCD ( <%= @a %> , <%= @b %> ) = <%= @c %></p>
  
  <ul>
    <li>Ruby on Rails</li>
    <li>Sinatra</li>
  </ul>

  
</body>
</html>