<!DOCTYPE html>
<html>
<head>
  <title>Projects -> Fibonacci</title>
  <style>

  body {
      padding: 20px;
  }

  h1 {font-size: 100px;background-color: yellow; color:black}
  p {font-size: 100px}
  </style>
</head>
<body>
  
  <h1>./Sequence Fibonacci</h1>

  <p><%= @c %></p>
</body>
</html>