<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>

  body {
      padding: 20px;
  }

  h1 {font-size: 100px;background-color: yellow; color:black}
  </style>
</head>
<body>
  
  <h1>./Home</h1>

  <pre>

  $ cd my_sinatra_app
  $ gem install sinatra
  $ gem install bundler
  $ touch Gemfile
  $ touch config.ru
  $ bundle install
  $ rackup --host --host=0.0.0.0 -p9292 
  # open http://port-9292.rubyonrails-ironman123.codeanyapp.com

  </pre>
  <ul>
    <li>Ruby on Rails</li>
    <li>Sinatra</li>
  </ul>

  
</body>
</html>