<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <style>

  body {
      padding: 20px;
  }

  h1 {font-size: 100px;background-color: yellow; color:black}
  ol, li, ol li a{
      margin: 30px;
      font-family: arial;
      font-size: 80px;
      color: mediumseagreen;
  }
  </style>
</head>
<body>
  
  <h1>./Projects</h1>
  <ol>        
    <li><a href="projects/euclid/10/3">Euclid's Algorithm</a></li>
    <li><a href="projects/fibonacci/100">Sequence Fibonacci</a></li>
    <li><a href="projects/prime/100">Primes</a></li>
  </ol>
     
</body>
</html>